<h1>Profile: <%= @user.email %></h1>

<p>
  First name: <%= @user.first_name %>
</p>

<p>
  Last name: <%= @user.last_name %>
</p>

<p>
  Age: <%= @user.age %>
</p>

<p>
  Gender: <%= @user.gender %>
</p>

<p>
  Avatar:
  <% if @user.avatar? %>
          <td><%= image_tag(@user.avatar.thumb.url) %></td>
        <% elsif @user.image? %>
          <td><%= image_tag(@user.image) %></td>
        <% else %>
          <td></td>
        <% end %>
</p>

<p>
  Role: <%= @user.role %>
</p>

<%= link_to 'Back', users_index_path, class: 'btn btn-default'%>
