<% if current_user %>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href=<%= posts_path %>><span>GoldenBlog</span>Home</a>
				<div class="sayhi">
					Hello, <a class="sayhi" href=<%= admin_user_path(current_user.id) %>><%= current_user.email %></a>
				</div>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto" style="float: right; margin-top: -20px;">
						<li class="nav-item">
							<a class="nav-link marg" href=<%= new_post_path %>>Add New Post</a>
						</li>
						<li class="nav-item">
							<a class="nav-link marg" href=<%= top_posts_posts_path %>>Top Posts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link marg" href=<%= categories_path %>>Category</a>
						</li>
						<li class="nav-item">
							<a class="nav-link marg" href=<%= status_posts_path %>>Posts Status</a>
						</li>
						<li class="nav-item">
							<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'marg' %>
						</li>
					</ul>
				</div>
			</div>
	</nav>
<% else %>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href=<%= posts_path %>><span>GoldenBlog</span>Home</a>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto" style="float: right; margin-top: 20px;">
						<li class="nav-item">
							<%= link_to 'Sign up', new_user_registration_path, class: 'marg' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Login', new_user_session_path, class: 'marg' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path, class: 'marg' %>
						</li>
					</ul>
				</div>
			</div>
	</nav>
<% end %>
